<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>法律意见书banner</string>
	</dict>
	<dict>
		<key>icon</key>
		<string> 保banner</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>案件委托banner</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>法律报价banner</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>官司计算器banner</string>
	</dict>
</array>
</plist>
